<div class="project--meta">
  <div class="project--meta--label">
    <h1 class="project--meta--label--name"><%= @project.name %></h1>
    <p><%= @project.description %></p>
  </div>

  <div class="project--heading-label">
    <h2 class="project--heading-label--name">
      Project Epics
    </h2>
  </div>

  <% @project.epics.each do |epic| %>
    <div class="epic--label">
      <h3 class="epic--label--name">
        <%= epic.name %>
      </h3>
    </div>
  <% end %>
</div>

<div class="ticket-header">
  <div class="ticket-header--form">
    <%= form_for @status, url: project_status_index_path(@project.id) do |f| %>
      <div class="row">
        <div class="col-xs-12">
          <%= f.label :name, class: 'ticket-header--form--label' %>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <%= f.text_field :name, class: 'ticket-header--form--input' %>
        </div>
      </div>

      <div class="row ticket-header--form--submit-wrapper">
        <div class="col-xs-12">
          <%= f.submit :Create, class: 'ticket-header--form--submit' %>
        </div>
      </div>
    <% end %>
  </div>
</div>